<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="css/styles.css">

<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Welcome to <%= title %>!</h1>
</body>
</html>